.memories-section {
  .border-bottom {
    border-bottom: 1px solid gray;
  }
  .homepage-photos {
    height: 400px;
  }

  .fotografii-btn {
    background-color: plum;
    border: 1px solid plum;
    padding: 8px 16px;
    border-radius: 24px;
  }
}
