.description-section {
  .description-container {
    max-width: 70%;
    margin: auto;
  }
  .caligraphy-txt {
    font-family: "DejaVu Sans", "DejaVu Sans Mac Name", "DejaVu Sans Unix Name",
      "Times New Roman";
  }

  .about-razvan {
    max-width: 600px;
    width: 100%;
    margin: auto;
  }
}
