@import "../../../Template/colors.scss";
.oferta-cununie-page {
  padding-top: 100px;
  .pachet {
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul {
    list-style: none;
  }

  ul li:before {
    content: "✓";
    padding-right: 0.7rem;
  }

  .slider-oferte-item {
    height: 400px;
    text-align: end;

    img {
      margin-left: auto;
    }
  }

  .pachet-2 {
    .slider-oferte-item {
      img {
        margin-right: auto;
        margin-left: unset;
      }
    }
  }

  .slick-slide {
    height: 400px;
  }
}
